<ion-header>
  <ion-navbar>
    <ion-title>清洁</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img [src]="ThisProperty.Id|hqimage:[0,350]" alt="">
    <ion-item>
      <h2>打扫房间: {{ThisProperty.Name}}</h2>
      <p>{{ThisProperty.PropertyAddress}}</p>
    </ion-item>
    <ion-item>
      <h2>打扫日期: {{CleaningData.CleaningRecord.CleaningDate|date:'yyyy-MM-dd HH:mm'}}</h2>
    </ion-item>
    <ion-item>
      <h2>铺床数量: {{CleaningData.CleaningRecord.CustomerPrepare}} </h2>
    </ion-item>
    <ion-item>
      <h2>沙发床: {{CleaningData.CleaningRecord.SofaBad?'是':'否'}}</h2>
    </ion-item>
    <ion-item>
      <h2>需带床单: {{CleaningData.CleaningRecord.SheetNumber}}</h2>
    </ion-item>
    <ion-item>
      <h2>需带大床单: {{CleaningData.CleaningRecord.BigSheetNumber}}</h2>
    </ion-item>
    <ion-item>
      <h2>需带被罩: {{CleaningData.CleaningRecord.CoverNumber}}</h2>
    </ion-item>

    <ion-item>
      <h2>需带枕套: {{CleaningData.CleaningRecord.CoverNumber*2}}</h2>
    </ion-item>
    <ion-item>
      <h2>需带浴巾: {{CleaningData.CleaningRecord.NumberBathTowelBring}}</h2>
    </ion-item>
    <ion-item>
      <h2>需带手巾: {{CleaningData.CleaningRecord.NumberHandTowelBring}}</h2>
    </ion-item>
    <ion-item>
      <h2>需带地巾: {{CleaningData.CleaningRecord.NumberFloorTowelBring}}</h2>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      检查床上用品
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        应有浴巾 {{CleaningData.CleaningRecord.NumberBathTowelInit}}
      </ion-item>
      <ion-item>
        应有手巾 {{CleaningData.CleaningRecord.NumberHandTowelInit}}
      </ion-item>
      <ion-item>
        应有地巾 {{CleaningData.CleaningRecord.NumberFloorTowelInit}}
      </ion-item>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      检查室内物品
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let item of CleaningData.Items">
        {{item.Name}}: {{item.InitNumber}}{{item.IsPercentage?"%":""}}
      </ion-item>
    </ion-card-content>
  </ion-card>
  <button *ngIf="IsPending()" ion-button ion-button full (click)="Start()">开始打扫</button>
</ion-content>
